
# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000
STRIPE_WEBHOOK_SECRET=


# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Firebase

FIREBASE_PROJECT_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=

#Next-Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

#Prismic
PRISMIC_ACCESS_TOKEN=